[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
flake8 = "*"

[packages]
requests = "*"
python-dotenv = "*"
gspread = "*"
oauth2client = "*"
fastapi = "*"
uvicorn = "*"
pylint = "*"
autopep8 = "*"
pandas = "==1.0.3"
matplotlib = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
